API_ID=1430775 # get this value from my.telegram.org
API_HASH=b32cc3929f80e2a4f2ab1887ace693be # get this value from my.telegram.org
BOT_TOKEN=1607821276:AAGZ2sO1jMm24xhMLDym-zKZqNoZCfkNUTg # get this value from @Botfather
MONGO_DB_URI=mongodb+srv://akboy:akboy@cluster0.xpvwt.mongodb.net/cluster0?retryWrites=true&w=majority # get this value from mongodb.com
LOG_GROUP_ID=-1001874606201 # get this value from in your log group 
MUSIC_BOT_NAME=innexia # your music bot name 
STRING_SESSION=BQB5ZzMpA1FQBsLv7UMUU1DeYT3woNpDsepwCvs6mg8JihzGF2kEHvXwWHfqxDFisvpy99uuS2bSd6ShiD2QOtC7SaGMq6tsZ5n1CL3T38YNkbkasqQF2MagNp_-9stLzFNyZeIaZvyA9gAlOAs3eoxN5GBr1uJ0rUL3ILneMWbd1NJQ6y76o3il4__T-9a4hza1MFWtS7nkgWeOYZE9NI60dhen7VAuFWVTqp1JU_PwSjNLRdzKTn7N6pPVbEoTgjSc4PDwscxe57eenC-tgcsyekAj4_Q9JAIW8yHvaSPeDp28Jjyemu__owIbV-qrnpODUy00vAzgptDITZOqxPdgAAAAAVjPFKsA # get this value from @yukkistringbot
